body {
	background: url('../img/bkg.jpg');
	font-family: 'Roboto',Arial,sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
	color: #333333;
}

h2 {
	font-weight: 600;
	color: #333333;
	font-size: 52px;
}

h3 {
	font-weight: 600;
	color: #333333;
	font-size: 32px;
	line-height: 1.3em;
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	background-image:url('https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg');
	background-size: 35px 35px;
	background-position: 0 5px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 50px;
	line-height: 2.5em;
	vertical-align: middle;
}

.page-header {
	padding-bottom: 8px;
	margin: 18px 0 27px;
}

.component_wrapper {
	min-height:290px;
}

@media (min-width:981px) {
	.component_wrapper {
		margin-top: 70px;
		min-height: 530px;
	}
}

.component-page #nav262006571 {
	background-color: rgba(17, 17, 17, 1) !important;
}

#rec262006580,
#rec262006583,
#rec262006584 {
	background: rgba(247, 255, 128, 0.71);
}