* {
    cursor: url('/templates/knopka/img/cursor3.cur') 0 0, auto;
}

body {
	background: url('../img/bkg.jpg');
	font-family: 'Roboto',Arial,sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.55;
	color: #333333;
}

a {
    cursor: inherit;
}

h2 {
	font-weight: 600;
	color: #333333;
	font-size: 52px;
}

h3 {
	font-weight: 600;
	color: #333333;
	font-size: 24px;
	line-height: 1.1em;
	margin-top: 20px;
	margin-bottom: 10px;
}

ul.checked li {
	background-image:url('https://static.tildacdn.com/lib/tildaicon/33376436-6634-4231-b732-306331373662/17bu_27.svg');
	background-size: 30px 30px;
	background-position: 0 5px;
	background-repeat: no-repeat;
	list-style: none;
	padding-left: 45px;
	line-height: 2.2em;
	vertical-align: middle;
}

.page-header {
	padding-bottom: 8px;
	margin: 18px 0 27px;
}

.component_wrapper {
	min-height:290px;
}

@media (min-width:981px) {
	.component_wrapper {
		margin-top: 70px;
		min-height: 530px;
	}
}

#nav262006571 {
	background-color: rgba(17, 17, 17, 1) !important;
	position: relative;
}

#rec262006580,
#rec262006583,
#rec262006584 {
	background: rgba(247, 255, 128, 0.71);
}

@media(max-width:960px) {
	.m-fullsize {
		width:100% !important;
		clear: both !important;
		float: none !important;
	}
}

#nav262006571 .t446__leftwrapper {
	width: auto;
}

@media(max-width:440px) {
	.t574 .email {
		font-size: 24px;
	}
}

@media(max-width:350px) {
	.t574 .email {
		font-size: 18px;
	}
}

#nav262006571 li.t446__list_item {
	padding-left: 10px;
	padding-right: 14px;
}

#nav262006571 .t446__list li a {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	color: #43dde0 !important;
}

@media (min-width:981px) and (max-width:1024px) {
	#nav262006571 .t446__list li a {
		font-size: 18px;
	}
}

#recorddiv262006572 {
	height: 264px;
	width:800px;
	margin:0 auto;
}

.phone * {
	color:#43dde0 !important;
	font-weight: 400;
}

@media (max-width:980px) {
	.web-logo {
		display: none;
	}
}

.position-langs {
	float: right;
}

.mod-languages-column li {
	display: block;
	margin-top: 4px;
}

.mod-languages-column li a {
	display: block;
	height: 26px;
	width: 26px;
	padding: 2px;
	border-radius: 16px;
	border: 2px transparent solid;
	line-height: 20px;
	font-size: 20px;
}

.mod-languages-column li a img {
	height:26px;
	width: 26px;
	border-radius: 12px;
}

.mod-languages-column li.lang-active a {
	border: 2px #43dde0 solid;
}

@media (max-width:980px) {
	.position-langs {
		float: none;
		display: table;
		margin: 30px auto 0;
	}

	.position-langs .mod-languages-column li {
		display: inline-block;
		margin-top: 4px;
	}

	.position-langs .mod-languages-column .lang-inline {
		padding-left: 0 !important;
	}
}

