body {
	background: url('../img/bkg.jpg');
}

.page-header {
	padding-bottom: 8px;
	margin: 18px 0 27px;
}

@media (min-width:981px) {
	.component_wrapper {
		margin-top: 70px;
	}
}

.component-page #nav262006571 {
	background-color: rgba(17, 17, 17, 1) !important;
}

#rec262006580,
#rec262006583,
#rec262006584 {
    background: rgba(247, 255, 128, 0.71);
}